// fonts
// --------------------------------------------------

@font-face {
  font-family: coco-b; 
  src: url("../../fonts/CoconNextArabic-Bold.ttf");
}
 
@font-face {
  font-family: coco-l; 
  src: url("../../fonts/CoconNextArabic-Light.ttf");
}
