 
// @import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800&display=swap");
@import "./fonts";
$coco-l	          : coco-l;
$coco-b           : coco-b;
  
/***************

/* == Colors */
$white : #FFF;
$black : #000;

$mainColor: #DC4029;
$secondaryColor: #DC4029; 