$left: left;
$right: right;

$ltr: ltr;
$rtl: rtl;

@import "../utilities/variable";
@import "../utilities/normalize";
@import "..//utilities/mediaQuery";
@import "../utilities/mixins"; 

/*components*/

@import "../components/header";
@import "../components/footer";   
@import "../components/accordion";     


/*pages*/

@import "../pages/home"; 
@import "../pages/operation_management"; 
@import "../pages/customs_clearance"; 
@import "../pages/warehouse_management"; 

@import "../utilities/EN";

 
