.clearance-sec.warehouse_management {
    padding: 80px 0 0 0;
    @include max992 {
        padding: 50px 0 0 0;
    }
    .sec_title {
        margin: 0;
    }
    .desc {
        margin-bottom: 60px;
        @include max992 {
            margin-bottom: 30px;
        }
    }
    .warehouse-box {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        @include max992 {
            margin-bottom: 30px;
        }
        .img {
            img {
                width: 76px;
                height: 76px;
            }
        }
        .name {
            font-size: 30px;
            line-height: 40px;
            padding-#{$left}: 27px;
        }
    }
}
