
@media (max-width: 991px) {
    .main-content-wrap .col-lg-3.tab-content {
        padding: 0;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 20px;
    }


}
.main-content-wrap .tab-content {
    padding: 0;
}